.body{
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    display: inline-flex;
    border: 1px solid green;
    width: 100%;
}

.tab{
    margin: 1vw; 
    padding: 1vw;
}

.tab:hover{
    text-decoration: underline; 
}

/* for screen less than 800px */
@media all and (max-width: 800px){
	.navbar {     
        display: block;  
        width: 100%;
        border: none; 
        border-top: 2px solid green;
       
    }
	.tab{
        margin: 1vw; 
        border: 1px solid green;
        padding: 1vw;
	}

    .tab:hover {
        background-color: lightcyan; 
    }

}

